Repository Inetum-Poland/terraform-github-repository, pull requests merged in 2024-05, with the labels that each got.

#3 feat(tf): fix repo name underscore
  checks.tf
Labels: feature, tf, fix

#4 feat(gha): add tag bumper
  .github/workflows/tag_bumper.yml
Labels: feature, bumper:patch

#5 chore(license): remove license nolicense from setup
  main.tf
  readme.md
Labels: doc, feature, tf, bumper:patch

#7 feat(gha): add latest version of bumper
  .coderabbit.yaml
  .github/workflows/tag_bumper.yml
Labels: feature, bumper:patch

#8 feat(tf): fix the check repo name underscore
  checks.tf
Labels: feature, tf, fix, bumper:patch

#9 feat(labels): add labels
  .github/dependabot.yml
  .github/labeler.yml
  main.tf
  readme.md
  variables.tf
Labels: documentation, feature, bumper:patch, terraform
